@import "tailwindcss";

*{
  font-family: "Urbanist", sans-serif;
}

.clipPath, .showcase{
	background: linear-gradient(to right, #bfb7b6db, #bfb7b6de) ,url('./assets/rightClip.png') no-repeat center;
	background-size: cover;
}
.shopUs{
	background: linear-gradient(to right, #dcf76300, #DCF763),url('./assets/shop-bg.png') no-repeat left;
	background-size: contain;
}
/* .showcase{
	background: linear-gradient(to right, #bfb7b6db, #bfb7b6de) ,url('./assets/rightClip.png') no-repeat center;
	background-size: cover;
} */
@media screen and (max-width: 1024px){
	.shopUs{
		background: #DCF763;
	}
    
}